<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
    <input type="text" v-model="unm1">
    <input type="text" v-model="unm2">
    <button @click="count">点击</button>
    <span>{{resust}}</span>
    </div>
    <script src="./vue.js"></script>
    <script>
    var vm = new Vue({
        el:'#app',
        data:{
            unm1:'',
            unm2:'',
            resust:''
        },
        methods: {
           count () {
            this.resust = +this.unm1 + +this.unm2
           }
        }
    })


    </script>
</body>
</html>